@use "../../styles/util.scss";
@import "../../styles/variables.scss";

div {
  .btn {
    @extend .padding-half;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.2rem;
  }
  svg {
    margin-right: calc($spacing-unit * 0.3);
  }
  .btn-primary {
    background-color: $dark-gray;
    color: $white;
  }
  .btn-outline {
    background-color: $white;
    border: 1px solid $dark-gray;
  }
  .btn-outline:hover {
    background-color: $dark-gray;
    border: 1px solid $white;
    color: $white;
  }
  .btn-link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    @extend .padding-half;
  }
}
