@import "../styles/variables.scss";

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.gap-1 {
  gap: calc($spacing-unit * 1);
}

.gap-half {
  gap: calc($spacing-unit * 0.5);
}
.gap-2 {
  gap: calc($spacing-unit * 2);
}

// padding margin

.padding-half {
  padding: calc($spacing-unit * 0.5);
}

.padding-full {
  padding: calc($spacing-unit * 1);
}

.padding-2 {
  padding: calc($spacing-unit * 2);
}

.padding-top-1 {
  padding-top: calc($spacing-unit * 1);
}

.padding-bottom-1 {
  padding-bottom: calc($spacing-unit * 1);
}

// font size

.font-size-1 {
  font-size: 1rem;
}

.margin-top-1 {
  margin-top: calc($spacing-unit * 1);
}

.margin-full {
  margin: calc($spacing-unit * 1);
}

.loader-sm {
  border: 4px solid $pale-gray;
  border-top: 4px solid $light-gray;
  border-radius: 54%;
  width: 10px;
  height: 10px;
}

.container {
  @extend .flex-column, .padding-full;
}

.loader-lg {
  border: 10px solid $pale-gray;
  border-top: 10px solid $light-gray;
  border-radius: 54%;
  width: 50px;
  height: 50px;
}

.select-playlists {
  width: 100%;
  outline: none;
  border: 1px solid $dark-gray;
  padding: calc($spacing-unit * 1);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-bottom: calc($spacing-unit * 1);
}
