$primary-red: #ff0000;
$dark-gray: #282828;
$black: #000;
$white: #ffffff;
$light-gray: #b2b2b2;
$red: red;
$pale-gray: #f3f3f3;
$warning: yellow;
$lighest-gray: rgb(118, 118, 118);
$gray: #36343d;

$small: 500px;
$medium: 900px;
$spacing-unit: 1rem;
