@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.container {
  @extend .flex-column, .gap-1;
  padding: 0;
}
.next-page {
  height: calc($spacing-unit * 1);
}
.delete-container {
  @extend .flex-row, .flex-end;
  width: 95%;

  .btn {
    background-color: $primary-red;
    color: $white;
    border: none;
  }
}
