@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.carousel-container {
  @extend .padding-full;
  .featured-img {
    @extend .flex-column;
    height: calc($spacing-unit * 35);
  }
  .title {
    @extend .padding-half;
    position: absolute;
    bottom: calc($spacing-unit * 1);
    color: $white;
  }
}

@media screen and (max-width: $medium) {
  .featured-img {
    height: calc($spacing-unit * 12);
  }
}
