@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap");
@import "./styles/variables.scss";

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $dark-gray;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
