@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.root-home-container {
  @extend .flex-row;

  .home-container {
    @extend .flex-column;
    position: absolute;
    top: calc($spacing-unit * 10);
    left: calc($spacing-unit * 10);
    height: 78vh;
    width: 89vw;
    overflow-y: scroll;
    .footer {
      @extend .padding-half;
      a {
        color: $dark-gray;
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: $medium) {
    header {
      left: 0;
      width: 100vw;
    }
    .desktop {
      display: none;
    }
    .home-container {
      left: 0;
      width: 100vw;
    }
  }
}
