@use "../../styles/util.scss";
@import "../../styles/variables.scss";

.video-container {
  svg {
    color: $dark-gray;
  }
  @extend .flex-row;
  width: 100%;
  .video-list {
    grid-template-columns: 1fr;
    height: 50rem;
  }
  .video-left {
    width: 70%;
    height: 100%;
    text-align: left;
    @extend .padding-full;
    margin-left: calc($spacing-unit * 1);
    .video-actions {
      @extend .flex-row, .flex-space-between, .padding-full, .gap-half;
      flex-wrap: wrap;
      .actions {
        @extend .flex-row, .gap-1;
        flex-wrap: wrap;
        .active {
          color: $primary-red;
        }
        div {
          align-items: center;
          cursor: pointer;
          text-align: center;
          svg {
            margin-right: calc($spacing-unit * 0.3);
            color: $dark-gray;
          }
        }
      }
    }
    .channel {
      @extend .flex-row, .padding-full;
      img {
        border-radius: calc($spacing-unit * 5);
        width: calc($spacing-unit * 4);
        margin-right: calc($spacing-unit * 1);
      }
      padding-bottom: 0;
    }

    .video-description {
      @extend .padding-full;
    }
    .title {
      font-size: calc($spacing-unit * 1.2);
      font-weight: 600;
    }
    .video-description {
      font-size: calc($spacing-unit * 1);
    }
  }
  .video-right {
    .trending:hover {
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem $light-gray;
      border: none;
      transform: scale(1);
      transition-duration: 300ms;
    }
    .video-channel,
    .video-title {
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      width: 70%;
    }
    .video-list-title {
      padding-right: 0;
    }
    .video-list {
      @extend .flex-column;
      max-width: calc($spacing-unit * 25);
      height: 100%;
      min-width: 22vw;
      padding: 0;
      padding-top: 1rem;
    }
    .trending {
      @extend .flex-row, .gap-1, .padding-half;
      box-sizing: border-box;
      width: 90%;
      a {
        color: $black;
        img {
          width: 100%;
        }
      }

      .video-body {
        position: relative;
        .video-title {
          font-size: calc($spacing-unit * 0.9);
          font-weight: 600;
        }

        .icon {
          @extend .flex-row;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: calc($spacing-unit * 1.2);
        }
      }
    }
  }
}

@media screen and (max-width: $medium) {
  .video-container {
    flex-direction: column;
    .video-left {
      width: 100%;
      padding: 0;
      margin: 0;
      .title {
        padding: calc($spacing-unit * 0.5);
        padding-left: calc($spacing-unit * 1);
      }
      .video {
        height: calc($spacing-unit * 20);
        padding: calc($spacing-unit * 1);
      }
    }
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
